.slick-dots {
  position: static !important;
}
.slick-dots li button::before {
  color: #d32026 !important;
  font-size: 10px;
}
.slick-prev:before,
.slick-next:before {
  color: #d32026 !important;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
